@model LotsModel

@{
    ViewData["Title"] = "Lotes";
}

<div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="fs-5 navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Lots" asp-action="Index">Lotes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Perimeter" asp-action="Index">Perímetro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producers" asp-action="Index">Produtores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h1 class="display-4">Adicionar Lotes</h1>
    <div class="mb-lg-5">
        <form class="row g-3 needs-validation" asp-controller="Lots" asp-action="AddLots" method="post">
            @if (TempData["MessageError"] != null)
            {
                <p class="text-danger my-2">@TempData["MessageError"]</p>
            }
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Código do lote</label>
                <input type="text" asp-for="CodeLot" class="form-control" id="formGroupExampleInput" placeholder="Ex: 1P-01">
            </div>
            <div class="mb-3">
                <label for="dropdown" class="form-label">Perímetro:</label>
                <select asp-for="IdPerimeter" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    @foreach (PerimeterModel perimeter in ViewBag.Perimeters)
                    {
                        <option value="@perimeter.Id">@perimeter.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="dropdown" class="form-label">Produtor:</label>
                <select asp-for="IdProducer" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    @foreach (ProducerModel producer in ViewBag.Producers)
                    {
                        <option value="@producer.Id">@producer.Name</option>
                    }
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Adicionar</button>
                <a class="btn btn-secondary" role="button" asp-area="" asp-controller="Lots" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>
